---
comments: "true"
title: "Home"
showsplash: "true"
splashbackground: "assets/img-temp/stefan.png"
splashtextmain: "The Base Line"
splashtextsub: "About this site and a bit about myself"
splashtextposition: 6
splashtextwidth: 6
splashcolor: "white"
showcontent: "true"
---
<div> <!-- Header include  -->
  {% include head.html %}
  {% if page.showcontent == "true" %}
</div>

<!-- // Content starts here // -->

      <!-- Main Content Section -->
      <div class="container g-py-50 text-left">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
              <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Over the last two decades </h2>
            </div> -->
            <h1> The Role of Presales</h1>
            <p class="lead">
              Over the last two decades the role that is accountable for the technical part in a software sales cycle has evolved from a rather narrow profiled job into a veritable, multi-faceted profession.
              The names for this profession sometimes sound fascinating<p>

              <div class="row">
                  <div class="col-sm-4">
                      <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Presales Consultant
                        </li>
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Solution Architect
                        </li>
                      </ul>
                  </div>
                  <div class="col-sm-4">
                      <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Sales Engineer
                        </li>
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Customer Architect
                        </li>
                      </ul>
                  </div>
                  <div class="col-sm-4">
                      <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Evangelist
                        </li>
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          You name it ...
                        </li>
                      </ul>
                    </div>
                </div>
                <br>
                <p class="lead"> Regardless of the title, however, when it comes to real business they all have one thing in common</p>

                <br><a name=common>

                <div class="row">
                  <div class="col-lg-4 u-icon-block--hover g-mb-40">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                      <div class="d-flex align-self-center mr-3">
                        <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
                          <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                      </div>
                      <div class="media-body align-self-center">
                        <h3 class="h5 g-color-black mb-0">Sales Support</h3>
                      </div>
                    </div>
                    <p class="g-color-gray-dark-v4">They are a key person in the sales team and support one or more reps by being their technical counterpart</p>
                    <!-- End Icon Blocks -->
                  </div>
                  <div class="col-lg-4 u-icon-block--hover g-mb-40">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                      <div class="d-flex align-self-center mr-3">
                        <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
                          <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                      </div>
                      <div class="media-body align-self-center">
                        <h3 class="h5 g-color-black mb-0">Business Value</h3>
                      </div>
                    </div>
                    <p class="g-color-gray-dark-v4">They position, explain and prove how a technical offer can be a solution that solves a business problem and provides value to a customer</p>
                    <!-- End Icon Blocks -->
                  </div>
                  <div class="col-lg-4 u-icon-block--hover g-mb-40">
                    <!-- Icon Blocks -->
                    <div class="media g-mb-15">
                      <div class="d-flex align-self-center mr-3">
                        <span class="u-icon-v3 g-color-gray-dark-v4 g-bg-secondary g-bg-primary--hover g-color-white--hover rounded-circle">
                          <i class="icon-education-035 u-line-icon-pro"></i>
                        </span>
                      </div>
                      <div class="media-body align-self-center">
                        <h3 class="h5 g-color-black mb-0">Technical Ownership</h3>
                      </div>
                    </div>
                    <p class="g-color-gray-dark-v4">They own the technical sales cycle end to end and are often a person of trust for the customer</p>
                    <!-- End Icon Blocks -->
                  </div>
                </div>


                <p class="lead">I have spent most of my professional life in this field and was very fortunate to be able to built a career in it, from being an individual contributor to managing smaller local teams to eventually leading very large, multinational and geographically dispersed technical sales organizations.
                Every company that I worked for had it's specific challenges but there were equally areas quite similar in their nature which I found in all roles: the "base line" of every technical sales organization!
                <br>

                <!-- <span class="u-dropcap g-mr-20 g-mb-10">H</span> -->
                <p class="lead">Having worked on all of them for many years I felt it is helpful for others to collect these as "topics to think about". However, with all the differences between software markets and the fascinating speed in which they develop, "one size fits all solutions" cannot exist.
                As a consequence, this collection is comprised of bullet points, questions to ask, sometimes an idea but not of "out of the box" approaches applicable to every technical sales team in the world.
                Ideally, these pages serve as a map in the back of your mind to work on over time, whether you are new to managing a technical sales team or are growing it further.
                <br>

                <p class="lead">Either way, I hope you will find some good food for thought in this collection! Feel free to leave a comment or get in touch with me for a dialogue.

                <br><br>Regards<br><br>
                <img class="img-fluid" src="assets/img-temp/signature.png" alt="Stefan Signature">
          </div>
        </div>
      </div>
      <!-- End Main Content Section -->

<!-- // Content stops here // -->

<div> <!-- Footer include  -->
  {% endif %}
  {% include foot.html %}</div>
