---
comments: "true"
title: "The Base Line"
showsplash: "true"
splashbackground: "assets/img-temp/1920x1080/img25r.jpg"
splashtextmain: "The Base Line"
splashtextsub: "A collection of what is needed to successfully <br>run a performing technical sales organization"
splashtextposition: 1
splashtextwidth: 11
splashcolor: "black"
showcontent: "true"
---
<div> <!-- Header include  -->
  {% include_relative assets/include/myfiles/head.html %}
  {% if page.showcontent == "true" %}
</div>

<!-- // Content starts here // -->

<div class="container g-py-50 text-left">
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
        <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Over the last two decades</h2>
      </div> -->
      <p class="lead">
        Over the last two decades the role that is accountable for the technical part in a software sales cycle has evolved from a rather narrow profiled job into a veritable, multi-faceted profession.
        The names for this profession sometimes sound fascinating<p>

        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                  <li class="lead">
                    <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                    Presales Consultant
                  </li>
                  <li class="lead">
                    <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                    Solution Architect
                  </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                  <li class="lead">
                    <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                    Sales Engineer
                  </li>
                  <li class="lead">
                    <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                    Customer Architect
                  </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                  <li class="lead">
                    <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                    Evangelist
                  </li>
                  <li class="lead">
                    <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                    You name it otherwise ...
                  </li>
                </ul>
              </div>
          </div>
          <br>
          <p class="lead"> Regardless of the title, however, when it comes to real business they all have one thing in common ...</p>
          <br>
          <a class="btn center u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="about.html">Continue to read</a>

    </div>
  </div>
</div>

<!-- // Content stops here // -->

<div> <!-- Footer include  -->
  {% endif %}
  {% include_relative assets/include/myfiles/foot.html %}</div>
