---
title: "Bootstrap Test"
---
<html lang="en">
  <head>
    <!-- Title -->
    <title>Blank Page</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="assets/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="assets/vendor/animate.css">
    <link rel="stylesheet" href="assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="assets/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="assets/css/unify-core.css">
    <link rel="stylesheet" href="assets/css/unify-components.css">
    <link rel="stylesheet" href="assets/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
  </head>

  <body>
    <main>

      <!-- Header -->
      <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
        <div class="u-header__section u-header__section--dark g-bg-black-opacity-0_4 g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-black-opacity-0_4 g-py-10" data-header-fix-moment-classes="g-bg-black-opacity-0_7 g-py-0">
          <nav class="navbar navbar-expand-lg">
            <div class="container">
              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                <span class="hamburger hamburger--slider">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->

              <!-- Logo -->
              <a href="../../../index.html" class="navbar-brand">
                  <!--  <img src="../../../assets/img/logo/logo-2.png" alt="Image Description">-->
                <img src="assets/img/logo/logo-2.png" alt="Image Description">
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">

                  <li class="nav-item g-mx-20--lg">
                    <a href="#!" class="nav-link px-0">Home
                    </a>
                  </li>

                  <li class="nav-item g-mx-20--lg">
                    <a href="#!" class="nav-link px-0">Presales
                    </a>
                  </li>

                  <li class="nav-item g-mx-20--lg active">
                    <a href="#!" class="nav-link px-0">People
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>

                  <li class="nav-item g-mx-20--lg">
                    <a href="#!" class="nav-link px-0">Process
                    </a>
                  </li>

                  <li class="nav-item g-mx-20--lg">
                    <a href="#!" class="nav-link px-0">Platform
                    </a>
                  </li>

                  <li class="nav-item g-ml-20--lg g-mr-0--lg">
                    <a href="#!" class="nav-link px-0">Product
                    </a>
                  </li>

                <li class="nav-item g-ml-20--lg g-mr-0--lg">
                  <a href="about.html" class="nav-link px-0">About
                  </a>
                </li>

                </ul>
              </div>
              <!-- End Navigation -->
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->

      <!-- Promo Block -->
      <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url(assets/img-temp/1920x1080/img25r.jpg);"></div>

        <div class="container g-py-200 ">
          <div class="row">
            <div class="col-md-6">
              <h3 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">The Base Line
            <br>
            <!-- you may put something here if you need more text -->
          </h3>
              <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-5">A collection of what is needed to successfully run a performing technical sales organization</span>
              <!-- <a class="js-fancybox u-link-v5 g-color-black" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="350" data-caption="Single Image">
                <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
              <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i> -->
            </span>
                <!-- 1:41 minutes -->
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Promo Block -->

      <div class="container g-py-50 text-left">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="u-heading-v2-3--bottom g-brd-primary g-mb-30">
              <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Over the last two decades</h2>
            </div> -->
            <p class="lead">
              Over the last two decades the role that is accountable for the technical part in a software sales cycle has evolved from a rather narrow profiled job into a veritable, multi-faceted profession.
              The names for this profession sometimes sound fascinating<p>

              <div class="row">
                  <div class="col-sm-4">
                      <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Presales Consultant
                        </li>
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Solution Architect
                        </li>
                      </ul>
                  </div>
                  <div class="col-sm-4">
                      <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Sales Engineer
                        </li>
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Customer Architect
                        </li>
                      </ul>
                  </div>
                  <div class="col-sm-4">
                      <ul class="list-unstyled g-color-gray-dark-v4 g-mb-30 g-mb-0--sm">
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          Evangelist
                        </li>
                        <li class="lead">
                          <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i>
                          You name it ...
                        </li>
                      </ul>
                    </div>
                </div>
                <br>
                <p class="lead"> Regardless of the title, however, when it comes to real business they all have one thing in common</p>
                <br>
                <a class="btn center u-btn-outline-primary g-font-size-13 text-uppercase g-py-10 g-px-15" href="about.html#common">Continue to read</a>

          </div>
        </div>
      </div>

      <!-- Try some Jekyll -->
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      
      <div class="page__comments">
        {% capture comments_label %}{{ site.data.ui-text[site.locale].comments_label | default: "Comments" }}{% endcapture %}
        {% case site.comments.provider %}
          {% when "discourse" %}
            <h4 class="page__comments-title">{{ comments_label }}</h4>
            <section id="discourse-comments"></section>
          {% when "disqus" %}
            <h4 class="page__comments-title">{{ comments_label }}</h4>
            <section id="disqus_thread"></section>
          {% when "facebook" %}
            <h4 class="page__comments-title">{{ comments_label }}</h4>
            <section class="fb-comments" data-href="{{ page.url | absolute_url }}" data-mobile="true" data-num-posts="{{ site.comments.facebook.num_posts | default: 5 }}" data-width="100%" data-colorscheme="{{ site.comments.facebook.colorscheme | default: 'light' }}"></section>
          {% when "google-plus" %}
            <h4 class="page__comments-title">{{ comments_label }}</h4>
            <section id="g-comments" class="g-comments">Loading Google+ Comments ...</section>
            <script>
              function initComment() {
                gapi.comments.render("g-comments", {
                  href: "{{ page.url | absolute_url }}",
                  width: "624",
                  first_party_property: "BLOGGER",
                  view_type: "FILTERED_POSTMOD"
                })
              }
            </script>
            <script async type="text/javascript" src="https://apis.google.com/js/plusone.js" onload="initComment()" />
            <noscript>Please enable JavaScript to view the <a href="https://plus.google.com/">comments powered by Google+.</a></noscript>-->
          {% when "staticman_v2" %}
            <section id="static-comments">
              {% if site.repository and site.staticman.branch %}
                <!-- Start static comments -->
                <div class="js-comments">
                  {% if site.data.comments[page.slug] %}
                    <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h4>
                    {% assign comments = site.data.comments[page.slug] | sort %}

                    {% for comment in comments %}
                      {% assign email = comment[1].email %}
                      {% assign name = comment[1].name %}
                      {% assign url = comment[1].url %}
                      {% assign date = comment[1].date %}
                      {% assign message = comment[1].message %}
                      {% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
                    {% endfor %}
                  {% endif %}
                </div>
                <!-- End static comments -->

                <!-- Start new comment form -->
                <div class="page__comments-form">
                  <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h4>
                  <p class="small">{{ site.data.ui-text[site.locale].comment_form_info | default: "Your email address will not be published. Required fields are marked" }} <span class="required">*</span></p>
                  <form id="new_comment" class="page__comments-form js-form form" method="post" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
                    <div class="form__spinner">
                      <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
                      <span class="sr-only">{{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}</span>
                    </div>

                    <div class="form-group">
                      <label for="comment-form-message">{{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }} <small class="required">*</small></label>
                      <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1"></textarea>
                      <div class="small help-block"><a href="https://daringfireball.net/projects/markdown/">{{ site.data.ui-text[site.locale].comment_form_md_info | default: "Markdown is supported." }}</a></div>
                    </div>
                    <div class="form-group">
                      <label for="comment-form-name">{{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }} <small class="required">*</small></label>
                      <input type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
                    </div>
                    <div class="form-group">
                      <label for="comment-form-email">{{ site.data.ui-text[site.locale].comment_form_email_label | default: "Email address" }} <small class="required">*</small></label>
                      <input type="email" id="comment-form-email" name="fields[email]" tabindex="3" />
                    </div>
                    <div class="form-group">
                      <label for="comment-form-url">{{ site.data.ui-text[site.locale].comment_form_website_label | default: "Website (optional)" }}</label>
                      <input type="url" id="comment-form-url" name="fields[url]" tabindex="4"/>
                    </div>
                    <div class="form-group hidden" style="display: none;">
                      <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                      <label for="comment-form-location">Not used. Leave blank if you are a human.</label>
                      <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off"/>
                      <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
                      <input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">
                    </div>
                    <!-- Start comment form alert messaging -->
                    <p class="hidden js-notice">
                      <strong class="js-notice-text"></strong>
                    </p>
                    <!-- End comment form alert messaging -->
                    <div class="form-group">
                      <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
                    </div>
                    <div class="form-group">
                      <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn--primary btn--large">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
                    </div>
                  </form>
                </div>
                <!-- End new comment form -->
                {% if site.reCaptcha.siteKey %}<script async src="https://www.google.com/recaptcha/api.js"></script>{% endif %}
              {% endif %}
            </section>
          {% when "staticman" %}
            <section id="static-comments">
              {% if site.repository and site.staticman.branch %}
                <!-- Start static comments -->
                <div class="js-comments">
                  {% if site.data.comments[page.slug] %}
                    <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h4>
                    {% assign comments = site.data.comments[page.slug] | sort %}

                    {% for comment in comments %}
                      {% assign email = comment[1].email %}
                      {% assign name = comment[1].name %}
                      {% assign url = comment[1].url %}
                      {% assign date = comment[1].date %}
                      {% assign message = comment[1].message %}
                      {% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
                    {% endfor %}
                  {% endif %}
                </div>
                <!-- End static comments -->

                <!-- Start new comment form -->
                <div class="page__comments-form">
                  <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h4>
                  <p class="small">{{ site.data.ui-text[site.locale].comment_form_info | default: "Your email address will not be published. Required fields are marked" }} <span class="required">*</span></p>
                  <form id="new_comment" class="page__comments-form js-form form" method="post" action="https://api.staticman.net/v1/entry/{{ site.repository }}/{{ site.staticman.branch }}">
                    <div class="form__spinner">
                      <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
                      <span class="sr-only">{{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}</span>
                    </div>

                    <div class="form-group">
                      <label for="comment-form-message">{{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }} <small class="required">*</small></label>
                      <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1"></textarea>
                      <div class="small help-block"><a href="https://daringfireball.net/projects/markdown/">{{ site.data.ui-text[site.locale].comment_form_md_info | default: "Markdown is supported." }}</a></div>
                    </div>
                    <div class="form-group">
                      <label for="comment-form-name">{{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }} <small class="required">*</small></label>
                      <input type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
                    </div>
                    <div class="form-group">
                      <label for="comment-form-email">{{ site.data.ui-text[site.locale].comment_form_email_label | default: "Email address" }} <small class="required">*</small></label>
                      <input type="email" id="comment-form-email" name="fields[email]" tabindex="3" />
                    </div>
                    <div class="form-group">
                      <label for="comment-form-url">{{ site.data.ui-text[site.locale].comment_form_website_label | default: "Website (optional)" }}</label>
                      <input type="url" id="comment-form-url" name="fields[url]" tabindex="4"/>
                    </div>
                    <div class="form-group hidden" style="display: none;">
                      <input type="hidden" name="options[slug]" value="{{ page.slug }}">
                      <label for="comment-form-location">Not used. Leave blank if you are a human.</label>
                      <input type="text" id="comment-form-location" name="fields[hidden]" autocomplete="off"/>
                    </div>
                    <!-- Start comment form alert messaging -->
                    <p class="hidden js-notice">
                      <strong class="js-notice-text"></strong>
                    </p>
                    <!-- End comment form alert messaging -->
                    <div class="form-group">
                      <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn--primary btn--large">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
                    </div>
                  </form>
                </div>
                <!-- End new comment form -->
              {% endif %}
            </section>
          {% when "custom" %}
            <section id="custom-comments"></section>
        {% endcase %}
      </div>


    </main>

    <!-- JS Global Compulsory -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="assets/vendor/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Unify -->
    <script src="assets/js/hs.core.js"></script>

    <!-- JS Custom -->
    <script src="assets/js/custom.js"></script>
  </body>
</html>
