---
comments: "true"
title: "People"
showsplash: "true"
splashbackground: "assets/img-temp/people1.jpg"
splashtextmain: "People"
splashtextsub: "They are at the core of everything"
splashtextposition: 6
splashtextwidth: 6
splashcolor: "white"
showcontent: "true"
---
<div> <!-- Header include  -->
  {% include_relative assets/include/myfiles/head.html %}
  {% if page.showcontent == "true" %}
</div>

<!-- // Content starts here // -->

<!-- Main Content Section -->

<!-- End Main Content Section -->

<!-- // Content stops here // -->

<div> <!-- Footer include  -->
  {% endif %}
  {% include_relative assets/include/myfiles/foot.html %}</div>
