---
comments: "true"
title: "Presales"
showsplash: "true"
splashbackground: "assets/img-temp/presales3.png"
splashtextmain: "What is Presales??"
splashtextsub: ""
splashtextposition: 2
splashtextwidth: 2
splashcolor: "white"
showcontent: "true"
---
<div> <!-- Header include  -->
  {% include head.html %}
  {% if page.showcontent == "true" %}
</div>

<!-- // Content starts here // -->

<!-- Main Content Section -->
<div class="container g-py-50 text-left">
  <div class="row">
    <div class="col-md-12">
      <span class="u-dropcap g-color-primary g-mr-20 g-mb-10">T</span>
      <p class="lead">
        The role of presales falls right in the middle marrying the customer needs to the (provider) company's services or products. This role is especially crucial in the software industry because the products and services are often heavily customizable and also because the requirements of different customers are often unique. The presales professional thus understands what the customer needs, develops an initial view of the solution the customer needs, then tailors the product or service of his company to meet what the customer needs, explains (or helps sell) this solution to the customer, helps close the deal or sale and often stays on to ensure that the delivery team or product specialists that follow him provide the intended solution.

         Typical activities that happen prior to the software purchase and / or expansion of a deal involve:
       </p>

       <!-- Carousels Block -->
       <div>

           <div class="js-carousel g-pb-45" data-autoplay="true" data-slides-show="5" data-slides-scroll="5" data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x text-center g-bottom-20"
           data-responsive='[{"breakpoint": 1200,"settings": {"slidesToShow": 4}},{"breakpoint": 992,"settings": {"slidesToShow": 3}},{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 567,"settings": {"slidesToShow": 1}}]'>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img1.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img2.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img3.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img4.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img5.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img6.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img1.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img2.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img3.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img4.png" alt="Image Description">
           </div>

           <div class="js-slide g-brd-around g-brd-gray-light-v4 rounded g-pa-20 g-mx-10">
             <img class="img-fluid mx-auto" src="assets/img-temp/200x100/img5.png" alt="Image Description">
           </div>
       </div>
       <!-- End Carousels Block -->
    </div>
  </div>
</div>
<!-- End Main Content Section -->

<!-- // Content stops here // -->

<div> <!-- Footer include  -->
  {% endif %}
  {% include foot.html %}</div>
