---
comments: "true"
title: "Process"
showsplash: "true"
splashbackground: "assets/img-temp/process1.jpg"
splashtextmain: "Process"
splashtextsub: "which business processes are important <br> and how do we go about them?"
splashtextposition: 5
splashtextwidth: 7
splashcolor: "black"
showcontent: "true"
---
<div> <!-- Header include  -->
  {% include_relative assets/include/myfiles/head.html %}
  {% if page.showcontent == "true" %}
</div>

<!-- // Content starts here // -->

<!-- Main Content Section -->

<!-- End Main Content Section -->

<!-- // Content stops here // -->

<div> <!-- Footer include  -->
  {% endif %}
  {% include_relative assets/include/myfiles/foot.html %}</div>
